    .block-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        background-color: red;

    }

    body {
        margin: 50px;


    }


    .block {
        display: flex;
        justify-content: center;
        align-content: center;
        background: green;

        p1 {
            color: black;
            font-size: 50px;
            margin: 80px;
        }
    }

    .inline {
        display:  inline;
        align-items: center;
    p1 {
        font-size: 70px;
        letter-spacing: 5px;
        color: firebrick;
        margin: 20px;
    }
        p2 {
            font-size: 30px;
            color: black;
            margin: 20px;
        }
    }