    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Dat 23b HTML & CSS DEMO</title>
    </head>
    <body>

    <h1> Min overskift</h1>
    <div>
        <p>
        Min første tekssektion
        </p>

        <p>
            Mit billede af
        </p>
        <p>
        <img src="../static/images/Saitama.png" th:src="@{images/Saitama.png}" width="50%" height="50%">
        </p>

        <p>
            <a href="https://www.w3schools.com"> Go to W3Schools</a>
        </p>
    </div>
    <input type="text" placeholder="Skriv din tekst her">
    <button> Tryk her </button>
    </div>

    </body>
    </html>