<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Three boxes</title>
    <link rel="stylesheet" href="../static/css/threeboxes.css" th:href="@{css/threeboxes.css}">
</head>
<body>
<h1 id="overskrift"> Demo af display-attributen</h1>
<div class="inline">Første div</div>
<div class="inline">Anden div</div>
<div class="inline">Tredje div</div>

<div class ="block">Første div</div>
<div class ="block">Anden div</div>
<div class ="block">Tredje div</div>

<div class ="nostyle">Første div</div>
<div class ="nostyle">Anden div</div>
<div class ="nostyle">Tredje div</div>
</body>
</html>